@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PineDropSupplyCo is a startup company based out of Oak Creek, Co. Our goal is to deliever you home-made products using only the best quality goods. </p>
